@model AdaptiveQuizSystem.Models.Subject
@{
    ViewData["Title"] = "Thêm môn học";
}

<h2>➕ Thêm Môn học</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="SubjectName" class="form-label"></label>
        <input asp-for="SubjectName" class="form-control" />
        <span asp-validation-for="SubjectName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="SubjectList" class="btn btn-secondary">Quay lại</a>
</form>
